
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black ;

}

a{
    font-family: 'Arial Black';
    font-size:15px;
    color: white;


}
